//esconder menus al entrar por primera vez 
#cardCarga,
#cardViajes {
	display: none;
}

//estilo botones form
.buttonRow {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.7rem;
	margin: 0 auto;

	.btn{
		padding: 0.7rem 0;
		border-radius: 10px;
	}
}


