.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 4.5rem;
	height: 100vh;

	ul {
		margin-top: 2rem;

		li {
			padding: 1rem 0;

			&:hover,
			a:active,
			a:hover {
				background-color: #dedede;
			}

			//btns sidebar al entrar por primera vez
			i{
				font-size: 2.2rem;
			}
				

			#iconoCompra, #iconoCompraFill,
			#iconoCarga, #iconoCargaFill,
			#iconoViajes, #iconoViajesFill{
				display: none;
			}
			
		}
	}
}

/* esconder menus al entrar por primera vez */
#cardCarga,
#cardViajes {
	display: none;
}
