.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 4.5rem;
	height: 100vh;

	ul {
		margin-top: 2rem;

		li {
			padding: 1rem 0;

			&:hover,
			a:hover {
				background-color: #dedede;
			}

			//btns sidebar al entrar por primera vez
			i{
				font-size: 2.2rem;
			}
				
			//estilo iconos sidebar
			#iconoCompra, #iconoCompraFill,
			#iconoCarga, #iconoCargaFill,
			#iconoViajes, #iconoViajesFill{
				display: none;
			}
			
		}
	}
}

//esconder menus al entrar por primera vez 
#cardCarga,
#cardViajes {
	display: none;
}

//estilo botones form
.buttonRow {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	gap: 0.7rem;
	margin: 0 auto;

	.btn{
		padding: 0.7rem 0;
		border-radius: 10px;
	}
}
