.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 4.5rem;
	height: 100vh;

	ul {
		margin-top: 2rem;

		li {
			padding: 1rem 0;

			&:hover,
			a:hover {
				background-color: #dedede;
			}

			//btns sidebar al entrar por primera vez
			i{
				font-size: 2.2rem;
			}
				
			//estilo iconos sidebar
			#iconoCompra, #iconoCompraFill,
			#iconoCarga, #iconoCargaFill,
			#iconoViajes, #iconoViajesFill{
				display: none;
			}
			
		}
	}
}


//mobile navbar
@media (max-width: 992px) {
	.sidebar{
		width: 0;
	
		.nav {
			z-index: 5;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100vw;
			height: 70px;
			justify-content: center;
			background-color: #f8f9fa;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
		
			ul {
				margin-top: 2rem;
		
				li {
					padding: 1rem 0;
		
					//btns sidebar al entrar por primera vez
					i{
						font-size: 2rem;
					}
						
					//estilo iconos sidebar
					#iconoCompra, #iconoCompraFill,
					#iconoCarga, #iconoCargaFill,
					#iconoViajes, #iconoViajesFill{
						display: none;
					}
					
				}
			}
		}
	}	
}